@page
@model IndexModel
@inject Webbshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName to the WebbShop!</h1>
 <div class="container products">
@foreach (var product in Model.Products)
{
    <div class="container product">
        <div class="container card">
            <div class="container image">
                <img src="/images/products/@product.ImageName" alt="@product.ImageName" />
            </div>
            <div class="container-body">
                <h2>@product.Name</h2>
                <p>@product.Description</p>
                <span>@(product.Price.ToString("c"))</span>
                <a asp-page="/Order" asp-route-id="@product.Id"><button>Order Now</button></a>
            </div>
        </div>
    </div>
}
</div>