@page
@model Webbshop.Pages.SearchModel
@{
}

<div class="container">
    <form style="display: flex;" method="get">
        <div>
            <input asp-for="SearchString" id="searchString" type="text" placeholder="Search" />
        </div>
        <div>
            <label for="filter">Filter:</label>
            <select asp-for="FilterString" id="filter">
                <option value="">All</option>
                <option value="Kläder">Kläder</option>
                <option value="Accessoarer">Accessoarer</option>
                <option value="Mat och dryck">Mat och dryck</option>
                <option value="Elektronik">Elektronik</option>
                <option value="Hem och trädgård">Hem och trädgård</option>
                <option value="Sport och fritid">Sport och fritid</option>
                <option value="Utomhus">Utomhus</option>
            </select>
        </div>
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>
<div class="container products">
    @foreach (var product in Model.SearchedProducts)
    {
        <div class="container-product">
            <div class="container-card">
                <a asp-page="/Order" asp-route-id="@product.Id">
                    <div class="container-img">
                        <img src="/images/products/@product.ImageName" alt="@product.ImageName" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">@product.Name</h2>
                        <p class="card-desc">@product.Description</p>
                        <div class="bot-info">
                            <span>@(product.Price.ToString("c"))</span>
                            <a asp-page="/Order" asp-route-id="@product.Id"><button>Order Now</button></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
<span>Page @(Model.CurrentPage) of @Model.TotalPages</span>

@if (Model.TotalPages > 1)
{
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a asp-page="/Search" asp-route-page="1" asp-route-SearchString="@Model.SearchString" asp-route-FilterString="@Model.FilterString">First</a>
            <a asp-page="/Search" asp-route-page="@(Model.CurrentPage - 1)" asp-route-SearchString="@Model.SearchString" asp-route-FilterString="@Model.FilterString">Previous</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-page="/Search" asp-route-page="@i" asp-route-SearchString="@Model.SearchString" asp-route-FilterString="@Model.FilterString">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a asp-page="/Search" asp-route-page="@(Model.CurrentPage + 1)" asp-route-SearchString="@Model.SearchString" asp-route-FilterString="@Model.FilterString">Next</a>
            <a asp-page="/Search" asp-route-page="@Model.TotalPages" asp-route-SearchString="@Model.SearchString" asp-route-FilterString="@Model.FilterString">Last</a>
        }
    </div>
}