@page
@model Webbshop.Pages.SearchModel
<head>
    <link rel="stylesheet" href="/css/Search.css" />
</head>

<div class="container">
    <form style="display: flex; align-items:center; justify-content: space-between;" method="get">
        <div class="form-container">
            <input asp-for="Search" id="searchString" type="text" placeholder="Search" />
            <div>
                <button type="submit" class="search-btn">Search</button>
            </div>
        </div>
        <div class="form-container" style="margin-right: 10px">
            <label for="filter">Filter:</label>
            <select asp-for="Filter" id="filter">
                <option value="">All</option>
                <option value="Kläder">Kläder</option>
                <option value="Accessoarer">Accessoarer</option>
                <option value="Mat och dryck">Mat och dryck</option>
                <option value="Elektronik">Elektronik</option>
                <option value="Hem och trädgård">Hem och trädgård</option>
                <option value="Sport och fritid">Sport och fritid</option>
                <option value="Utomhus">Utomhus</option>
            </select>
            <div>
                <button type="submit" class="search-btn">Filter</button>
            </div>
        </div>
    </form>
</div>

<div class="container products">
    @foreach (var product in Model.Products)
    {
        <div class="container-product">
            <div class="container-card">
                <a asp-page="/Order" asp-route-id="@product.Id">
                    <div class="container-img">
                        <img src="/images/products/@product.ImageName" alt="@product.ImageName" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">@product.Name</h2>
                        <p class="card-desc">@product.Description</p>
                        <div class="bot-info">
                            <span>@(product.Price.ToString("c"))</span>
                            <a asp-page="/Order" asp-route-id="@product.Id"><button>Order Now</button></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

<div class="container" style="padding-top: 10px; margin-bottom: 10px">
    <div class="page-btns">
        @if (Model.TotalPages > 1)
        {    
            <div style="display: flex">
                @if (Model.CurrentPage > 1)
                {
                    <div style="margin-right: 30px">
                        <a asp-page="/Search" asp-route-pageNum="1" asp-route-search="@Model.Search" asp-route-filter="@Model.Filter" class="page-link">
                            <button class="page-btn"><i class="fa-solid fa-angles-left"></i></button>
                            </a>
                        <a asp-page="/Search" asp-route-pageNum="@(Model.CurrentPage - 1)" asp-route-search="@Model.Search" asp-route-filter="@Model.Filter" class="page-link">
                            <button class="page-btn"><i class="fa-solid fa-angle-left"></i></button>
                            </a>
                    </div>
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <div>
                        <a asp-page="/Search" asp-route-pageNum="@(Model.CurrentPage + 1)" asp-route-search="@Model.Search" asp-route-filter="@Model.Filter" class="page-link">
                            <button class="page-btn"><i class="fa-solid fa-angle-right"></i></button>
                        </a>
                        <a asp-page="/Search" asp-route-pageNum="@Model.TotalPages" asp-route-search="@Model.Search" asp-route-filter="@Model.Filter" class="page-link">
                            <button class="page-btn"><i class="fa-solid fa-angles-right"></i></button>
                            </a>
                    </div>
                }
            </div>
        }
        <span>Page @Model.CurrentPage of @Model.TotalPages</span>
    </div>
</div>